<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQ-g8mvcyW8LynMuJH-_YDVHlHRjBcJvM</string>
	<key>GCM_SENDER_ID</key>
	<string>563940753045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gymManagement2</string>
	<key>PROJECT_ID</key>
	<string>gymmanagement-2b761</string>
	<key>STORAGE_BUCKET</key>
	<string>gymmanagement-2b761.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563940753045:ios:e24149666e479b7571659c</string>
</dict>
</plist>